@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #18181b;
  --main: #e43a3a;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.popup-scroll::-webkit-scrollbar-track {
  margin-top: 9px;
  margin-bottom: 9px;
}
