@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #18181b;
  --main: #e43a3a;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.popup-scroll::-webkit-scrollbar-track {
  margin-top: 9px;
  margin-bottom: 9px;
}

.loader {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: var(--main);
  animation: fill 1s ease-in infinite alternate;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}
